.headerComent {
    display: flex;
    background: rgb(56, 56, 56);
    width: 300;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.headerComentAtivo {
    background: rgb(0, 136, 18);
}

.bi-star-fill{
    color: yellow;
}

.textoComent {
    width: 300;
    height: auto;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    color: black;
    border-radius: 5px;
    transform: translateY(-5px);
}

.statusComent {
    color: aliceblue;
}

.botaoStatus {
    background: rgb(2, 0, 22);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
}

.botaoStatus:hover{
    background: rgb(6, 1, 66);
}

.botaoExcluir:hover{
    background: rgb(63, 0, 0);
}

.botaoExcluir {
    background: rgb(39, 0, 0);
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
}

.novoItemBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    background: #5c5c5c;
    transform: translateY(-10px);
    border-radius: 5px;
}


.Comentarios h2 {
    margin-bottom: 10px;
}

#inputEmpresaID, #statusFilter {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#statusFilterBtn {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(2, 0, 22);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#statusFilterBtn:hover {
    border: 1px solid #5c5c5c;
    background: rgb(2, 0, 22);
    
}

.Comentarios > p {
    width: 310px;
    color: #7c7c7c;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: justify;
    
}


/* Editar Empresa*/

.editarCadastro > h2 {
    color: #fff;
}

.editarCadastro > p {
    width: 310px;
    color: #7c7c7c;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: justify;
}

#empresaPesquisar{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#editarEmpresaPesquisar {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(2, 0, 22);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}


#editarEmpresaPesquisar:hover {
    border: 1px solid #5c5c5c;
    background: rgb(2, 0, 22);
    
}


/* tela de configurações APP*/

#adicionarCategoria {
    border: 1px solid #2f00ff4b;
    border-radius: 5px;
}


.configsBannersAPP, .configsSlideAPP > h2{
    color: white;
    margin-bottom: 20px;
}

#btnAdicionarCategoria, #btnAdicionarSlide {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(2, 0, 22);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
}

#btnAdicionarCategoria, #btnAdicionarSlide:hover {
    border: 1px solid #5c5c5c;
}

#btnCarregarCategorias, #btnCarregarSlide {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(14, 0, 90);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
}

#btnCarregarCategorias, #btnCarregarSlide:hover {
    border: 1px solid #5c5c5c;
}


#adicionarCategoria > input {
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin: 10px;
}

#adicionarSlide > input{
    background: #fff;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin: 10px;
}

.categoriaItem > button{

    border: 1px solid rgba(255, 255, 255, 0.26);
    background: rgb(2, 0, 22);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    transform: translateY(-45px);

}


.categoriaItem > button:hover{

    border: 1px solid rgba(255, 255, 255, 0.932);

}

.categoriaItem > img{
    width: 200;
    height: 100;
    border-radius: 15px;
    margin-top: -150px;
}

.categoriaItem > h3{
    width: 200;
    height: 100;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 30;
    transform: translateY(23px);
    color: #fff;
    text-transform: uppercase;
    background: rgba(4, 0, 44, 0.404);
    text-shadow: #03001f 0.1em 0.1em 0.2em;
}

.slideItem > button{

    border: 1px solid rgba(255, 255, 255, 0.26);
    background: rgb(2, 0, 22);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    transform: translateX(107px);

}


.slideItem > button:hover{

    border: 1px solid rgba(255, 255, 255, 0.932);

}

.slideItem > img{
    width: 300;
    height: 150;
    border-radius: 15px;
}

.slideItem > p{
    width: 300;
    height: 50;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 15;
    color: #fff;
    background: rgba(4, 0, 44, 0.404);
    text-shadow: #03001f 0.1em 0.1em 0.2em;
}